@page
@model Disunity.Store.Pages.Admin.Mods.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Mod</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mod.OwnerId" class="control-label"></label>
                <select asp-for="Mod.OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mod.Latest.DisplayName" class="control-label"></label>
                <input asp-for="Mod.Latest.DisplayName" class="form-control"/>
                <span asp-validation-for="Mod.Latest.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mod.LatestId" class="control-label"></label>
                <select asp-for="Mod.LatestId" class="form-control" asp-items="ViewBag.LatestId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mod.CreatedAt" class="control-label"></label>
                <input asp-for="Mod.CreatedAt" class="form-control"/>
                <span asp-validation-for="Mod.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}