source https://api.nuget.org/v3/index.json

nuget Commons.Json >= 0.4.0.1347
nuget Mono.Cecil >= 0.10.4
nuget Newtonsoft.Json.Schema >= 3.0.11
nuget SemanticVersion >= 2.0.0
nuget Unity.Newtonsoft.Json >= 7.0.0
nuget System.IO.Compression >= 4.3.0