ol.breadcrumb {
    margin-bottom: 0px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 60px;

    &::before {
        content: "⇌";
        font-size: 20px;
        margin-right: 0.5em;
        line-height: 2.9em;
    }
}