h1 {
    .e-inplaceeditor {

        span.e-editable-value {
            font-size: $h1-font-size !important;
            line-height: 1em !important;
        }

        .e-editable-overlay-icon {
            visibility: visible !important;
            color: $gray-500 !important;
        }

        &:hover {
            .e-editable-overlay-icon {
                color: $gray-900 !important;
            }
        }
    }
}