@page
@model Disunity.Store.Pages.Admin.OrgMembers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrgMember</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrgMember.UserId"/>
            <input type="hidden" asp-for="OrgMember.OrgId"/>
            <div class="form-group">
                <label asp-for="OrgMember.Role" class="control-label"></label>
                <select asp-for="OrgMember.Role" class="form-control"></select>
                <span asp-validation-for="OrgMember.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}