<footer class="border-top footer muted">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link py-0" asp-area="" asp-page="/Privacy">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>