<head>
    <title>@ViewData["Title"] - Disunity.io</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" href="~/favicon.ico"/>

    <environment include="Development">
        <link rel="stylesheet" href="~/main.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/main.min.css"/>
    </environment>

</head>